body{
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    margin-bottom: auto;
    padding: 0 250px 80px;
    background-color: #1F2937;
    align-content: flex-start;
    flex: 1;
}

.footer {
    margin-top: auto;
}

ul {
    display: flex;
    gap: 20px;
}

li {
    list-style-type: none;
}

.header .right {
    margin-left: auto;
    color: #E5E7EB;
    font-size: 18px;
    display:  flex;
    align-items: center;
}

.header .left {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
    align-items: baseline;
}

/* Hlavni cast */

.main {
    display: flex;
    flex-direction: column;
}

.top {
    background-color: #1F2937;
    padding: 0 250px 80px;
    display: flex;
}

.top .left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    gap: 10px;
}

.top .right {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6D747D;
    width: 450px;
    height: 250px;
    flex: none;
    color: #FBFCFC;
}

.left h1 {
    color: #F9FAFB;
    font-size: 48px;
    font-weight: 1000px;
    margin: 0;
}

.left p {
    color: #C9CDD2;
    font-size: 18px;
}

.left button {
    color: #FFFFFF;
    background-color: #3B82F6;
    width: 120px;
    height: 33px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 9px;
}

/* middle-top */
.middle-top {
    margin: 0 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.middle-top .blocks {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 15px;
}

.title {
    font-size: 36px;
    font-weight: 1000;
    color: #1F2937;
    margin: 50px 0;
}

.blocks img {
    border: 4px solid #3B82F6;
    width: 160px;
    height: 160px;
    border-radius: 17px;
    /* margin: 0 auto 0; */
}

.block p {
    color: #5F6874;
    flex: 0 0 150px;
    font-size: 18px;
}

.block {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-items: center;
    align-items: center;
    gap: 7px;
}

/* middle-bottom */

.middle-bottom {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 150px 0 140px;
}

.middle-bottom div {
    margin: 0 200px;
}

.quote {
    font-size: 36px;
    font-style: italic;
}

.thor {
    text-align: right;
    font-size: 1.6rem;
    font-weight: 1000;
}

/* Bottom */

.bottom {
    display: flex;
    margin: 130px 200px 130px;
    background-color: #3B82F6;
    border-radius: 9px;
    color: #FFFFFF;
    padding: 50px;
}

.left p.white{
    color: #FFFFFF;
}

.left {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    flex: 1.5;
    justify-content: center;
    align-items: center;
}


.right {
    display: flex;
    flex: 1;
}

.right button {
    margin: auto;
    flex: 0 1 auto;
    width: 130px;
    height: 40px;
    background-color: #3B82F6;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 9px;
    font-size: 1rem;
    font-weight: bold;
}

div div h2,
div div p {
    margin: 0;
}

/*Footer*/

.footer {
    display: flex;
    background-color: #1F2937;
    padding: 40px;
}

.footer p {
    background-color: #1F2937;
    margin: auto;
    color: #E3E4E6;
    font-size: 18px;
}